/********** YOUTUBE **********/
body {
  font-family: 'Muli', sans-serif;
  /*line-height: 35px;*/
  color: #282828;
  animation: zoomInUp .4s;
}
.thin {
  font-weight: 200;
}
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.bold {
  font-weight: 600;
}
.extraBold {
  font-weight: 700;
}
.black {
  font-weight: 800;
}
.extraBlack {
  font-weight: 900;
}

.wrapper{
	height: inherit;
	width: inherit;
  background-color: white;
}
.fixed{
}
.scrolled{
  position: relative;
  margin-top: 150px;
}
.topinfo{
  margin-left: auto;
  width: 100%;
  height: 30px;
  padding: 0 5px;
  background-color: #db0000;
  font-size: 20px;
  color: white;
  border-bottom: none;
  z-index: 10;
  position: fixed;
}
.topinfo div {
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 0 0 8px;
  font-weight: 600;
}

.logo{
  padding: 0 0;
  text-align: left;
  background-color: red;
  color: white;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
  /*
  -moz-box-shadow: 0 14px 10px -12px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 14px 10px -12px rgba(0,0,0,0.7);
	box-shadow: 0 14px 10px -12px rgba(0,0,0,0.7);
  */
  z-index: 10;
  position: fixed;
  width: 100%;
}
.logo-name{
  margin-left: 20px;
}
.logo-name img{
  width: 114px;
  height: 80px;
}

.tabs{
  text-align: center;
  background-color: #F5F8FA;
  color: #657786;
  font-size: 18px;
  position: fixed; bottom: 0; width: 100%; margin: 0; padding: 5px 0;
  z-index: 10;
  margin-left: -15px;
  border-top: 1px solid #AAB8C2;
  cursor: pointer;
}
.tabs-name{
  color: #657786;
  font-size: 13px;
  margin-top: -3px;
  margin-bottom: -3px;
}

.avatar {
  margin: 0 0 0 5px;
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
}
.avatar img {
  border-radius: 50%;
  display: block;
  width: 100%;
}

.post-info {
  margin-top: -15px;
  margin-left: -50px;
  font-size: 18px;
}
.post {
  border-bottom: 1px solid #E1E8ED;
}
.post .name{
}
.fa-caret-right{
  color: #657786;
}
.post .hour{
  font-size: 14px;
  color: #657786;
}
.post .hour .dot{
  display: inline-block;
  font-size: 5px;
  font-weight: 100;
  position: relative;
  top: -3px;
}
.post .content {
  margin-left: 5px;
  font-size: 18px;
}
.post .reacts{
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
  margin-left: -10px;
  margin-bottom: 20px;
  color: #657786;
}
.post .reacts .fa-thumbs-down{
  margin-left: 15px;
}
.post .comments{
  text-align: center;
  font-size: 15px;
  float: right;
}

.thumbnail img{
  margin-left: 5px;
  border:none;
  /*width:850px;
  height:500px;*/
  width:75%;
  cursor: pointer;
  border-bottom: 1px solid #E1E8ED;
  border-left: 1px solid #E1E8ED;
  border-right: 1px solid #E1E8ED;
  border-top: 1px solid #E1E8ED;
  margin-bottom: 20px;
}
#tabdisp2-2 {
  animation-duration: 0.4s;
}
.reacts-video{
  text-align: center;
  color: #657786;
  font-size: 18px;
  width: 50%;
  padding: 5px 0;
  margin-left: -15px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.fa-thumbs-up, .fa-thumbs-down, .fa-undo, .fa-share{
  cursor: pointer;
  animation-duration: 0.7s;
}
.react-name{
  color: #657786;
  font-size: 13px;
  margin-top: -3px;
  margin-bottom: -3px;
  cursor: pointer;
}

.subscriptions{
  margin-bottom: 25px;
  border-bottom: 1px solid #E1E8ED;
  text-align: center;
  color: #657786;
  font-size: 12px;
}
.subscriptions .avatar{
  width: 80px;
  height: 80px;
  margin-bottom: 40px;
  margin-left: 20px;
  animation-duration: 0.7s;
}
.subs-av{
  margin-bottom: 10px;
}
.user{
  margin-top: 20px;
}
.sub{
   color: #db0000;
   cursor: pointer;
   animation-duration: 0.6s;
}
