/********** FACEBOOK **********/
body {
  font-family: 'Muli', sans-serif;
  /*line-height: 35px;*/
  color: black;
  animation: zoomInUp .4s
}
.thin {
  font-weight: 200;
}
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.bold {
  font-weight: 600;
}
.extraBold {
  font-weight: 700;
}
.black {
  font-weight: 800;
}
.extraBlack {
  font-weight: 900;
}

.wrapper{
	height: inherit;
	width: inherit;
  background-color: white;
}
.fixed{
}
.scrolled{
  position: relative;
  margin-top: 150px;
}
.topinfo{
  margin-left: auto;
  width: 100%;
  height: 30px;
  padding: 0 5px;
  background-color: #2e487c;
  font-size: 20px;
  color: white;
  border-bottom: none;
  z-index: 10;
  position: fixed;
}
.topinfo div {
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 0 0 8px;
  font-weight: 600;
}

.logo{
  padding: 0 0;
  text-align: left;
  background-color: #4267B2;
  color: white;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
  /*
  -moz-box-shadow: 0 14px 10px -12px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 14px 10px -12px rgba(0,0,0,0.7);
	box-shadow: 0 14px 10px -12px rgba(0,0,0,0.7);
  */
  z-index: 10;
  position: fixed;
  width: 100%;
}
.logo-name{
  margin-left: 20px;
}
.logo-name img{
  width: 80px;
  height: 80px;
}

.tabs{
  text-align: center;
  background-color: #F5F8FA;
  color: #657786;
  font-size: 18px;
  position: fixed; bottom: 0; width: 100%; margin: 0; padding: 5px 0;
  z-index: 10;
  margin-left: -15px;
  border-top: 1px solid #AAB8C2;
  cursor: pointer;
}
.tabs-name{
  color: #657786;
  font-size: 13px;
  margin-top: -3px;
  margin-bottom: -3px;
}

.avatar {
  margin: 0 0 0 5px;
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
}
.avatar img {
  border-radius: 50%;
  display: block;
  width: 100%;
}

.post-info {
  margin-top: 8px;
  margin-left: -50px;
  font-size: 18px;
}
.post {
  border-bottom: 1px solid #E1E8ED;
}
.post .name{
}
.fa-caret-right{
  color: #657786;
}
.post .hour{
  font-size: 14px;
  color: #657786;
}
.post .hour .dot{
  display: inline-block;
  font-size: 5px;
  font-weight: 100;
  position: relative;
  top: -3px;
}
.post .content {
  margin-left: 5px;
  font-size: 18px;
}
.post .reacts{
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
  margin-left: -10px;
  margin-bottom: 20px;
  color: #657786;
}
.fa-surprise, .fa-laugh-squint, .fa-flushed , .fa-grin-tongue, .fa-grimace{
  color: #ffcc33;
  background-color: black;
  border-radius: 50%;
}
.fa-surprise{
  position: relative;
  left: -5px;
}
.fa-flushed, .fa-grimace{
  position: relative;
  left: -10px;
}
.post .comments{
  text-align: center;
  font-size: 15px;
  float: right;
}

.reacts-action{
  font-size: 15px;
  color: #657786;
  margin-bottom: 15px;
}
.action-like, .action-comment{
  cursor: pointer;
}

.interpost{
  background-color: #E1E8ED;
  height: 10px;
  width: inherit;
}
########TREEMAP and bar plot############

#domainDrillDown {
  background: #fff;
  font-family: 'Muli', sans-serif
}

.grandparent_treemap text {
  font-weight: bold;
}

rect.parent,
.grandparent_treemap rect {
  stroke-width: 2px;
}

rect.parent {
    pointer-events: none;
}

.grandparent_treemap rect {
  fill: #3b5998;
}

.grandparent_treemap:hover rect {
  fill: #3b5998;
}

.children rect.parent,
.grandparent_treemap rect {
  cursor: pointer;
}

.children rect.parent {
  fill: #bbb;
  fill-opacity: 0.9;
}

.children:hover rect.child {
  fill: #bbb;
}
.textdiv {
	    font-family: "Open Sans",Helvetica,Arial,sans-serif;
	    font-size: 14px;
	    padding: 7px;
	    cursor: pointer;
	    overflow:none;
}
.textdiv .title {
    font-weight: bold;
    margin-top: 8px;;
}
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 0; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

p.title{
  color: #ffffff
}

.toclick{
  cursor: pointer;
  color: #4267B2;
}
#domainDrillDown{
  margin-top: 20px;
  margin-bottom: 20px;
}
