/********** EPFL Campus **********/
body {
  font-family: 'Muli', sans-serif;
  /*line-height: 35px;*/
  color: black;
  animation: zoomInUp .4s;
}
.thin {
  font-weight: 200;
}
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.bold {
  font-weight: 600;
}
.extraBold {
  font-weight: 700;
}
.black {
  font-weight: 800;
}
.extraBlack {
  font-weight: 900;
}

.wrapper{
	height: inherit;
	width: inherit;
  background-color: white;
}
.fixed{
}
.scrolled{
  position: relative;
  margin-top: 148px;
  margin-left: 250px;
}
.topinfo{
  margin-left: auto;
  width: 100%;
  height: 30px;
  padding: 0 5px;
  background-color: #bd0000;
  font-size: 20px;
  color: white;
  border-bottom: none;
  z-index: 10;
  position: fixed;
}
.topinfo div {
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 0 0 8px;
  font-weight: 600;
}

.logo{
  padding: 0 0;
  text-align: center;
  background-color: red;
  color: white;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
  /*
  -moz-box-shadow: 0 14px 10px -12px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 14px 10px -12px rgba(0,0,0,0.7);
	box-shadow: 0 14px 10px -12px rgba(0,0,0,0.7);
  */
  z-index: 10;
  position: fixed;
  width: 100%;
}
.logo-name{
  margin-left: 50px;
}
.logo-name img{
  width: 114px;
  height: 80px;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  top: 100px;
  left: 0px;
  background-color: #F5F8FA;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  border-right: 1px solid #AAB8C2;
}

.sidenav .symbol{
  margin-top: 30px;
}
.sidenav .symbol ~ .symbol{
  margin-top: 15px;
}
.sidenav .symbol svg{
  margin-left: 25px;
}
.sidenav .symbname{
  margin-top: 48px;
}
.sidenav .symbname ~ .symbname{
  margin-top: 33px;
}
.sidenav .symbname span{
  margin-left: 30px;
  font-size: 18px;
}
.sidenav .symbname span:hover {
  color: red;
  cursor: pointer;
}
.sec-title{
  font-size: 35px;
  margin-bottom: 40px;
}
.semester{
  font-size: 20px;
  margin-bottom: 10px;
}
.semester ~ .semester{
  margin-top: 30px;
}
.divided {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.divider {
  flex-grow: 1;
  border-bottom: 1px solid #AAB8C2;
  margin: 5px
}
.grade {
  color: blue;
}
